body{
    background-image: url(https://th.bing.com/th/id/OIP.M5m0wJQTobin8YuObhVF2wHaHa?rs=1&pid=ImgDetMain);
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: burlywood;
}
a{
    color: coral; 
}
a :hover{
    color: green;
}
